# KaliPhoneStudio rescue BusyBox miniconfig.
# Used with: KCONFIG_ALLCONFIG=<this file> make allnoconfig
# Anything not explicitly requested remains disabled.
CONFIG_BUSYBOX=y
CONFIG_STATIC=y
CONFIG_LONG_OPTS=y
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_ASH=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_CP=y
CONFIG_CUT=y
CONFIG_DD=y
CONFIG_DF=y
CONFIG_ECHO=y
CONFIG_LN=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_MKNOD=y
CONFIG_MOUNTPOINT=y
CONFIG_MV=y
CONFIG_READLINK=y
CONFIG_RM=y
CONFIG_SHA256SUM=y
CONFIG_SLEEP=y
CONFIG_STAT=y
CONFIG_SYNC=y
CONFIG_TAIL=y
CONFIG_TAR=y
CONFIG_TR=y
CONFIG_UNAME=y
CONFIG_FIND=y
CONFIG_GREP=y
CONFIG_SED=y
CONFIG_DMESG=y
CONFIG_HEXDUMP=y
CONFIG_CTTYHACK=y
CONFIG_HALT=y
CONFIG_POWEROFF=y
CONFIG_REBOOT=y
CONFIG_FEATURE_CALL_TELINIT=n
CONFIG_KILL=y
CONFIG_PS=y
CONFIG_SWITCH_ROOT=y
CONFIG_MOUNT=y
CONFIG_UMOUNT=y
